table-view{
    row-height: 25;
    header-height: 40;
    background-color: white;
    separator-style:etched-line;
    separator-color:none;
}

table-view-cell content-view{
}
table-view-cell text-label{
}
table-view-cell detail-text-label{
}
table-view-cell attributed-text{
}


table-view-headerfooter-view{
}

table-view-headerfooter-view{
    background-color:white;
    border-bottom: 2px solid #ccc;
}

table-view-headerfooter-view text-label{
    font-familyt:"Apple SD Gothic Neo";
    text-align:center;
    font-weight:bold;
    color:#000;
    font-size:20px;
    font-weight:500;
    trasnform:scale(0.5,1);
}
table-view-headerfooter-view text-label{
}

table-view table-view-cell{

}

.shopInfo{
    height:20px;
}
.shopInfo text-label{
    text-align:center;
    font-size:10px;
}
